.seller_form {
    background-color: #fff;
    padding: .8rem;
    display: flex;
  }
  ion-input {
    background-color: #f2f2f2;
    --padding-start: .5rem;
    --padding-end: .5rem;
    border: 1px solid #e4e4e4;
    color: #333;
    font-size: 1.1rem;
    height: 2.5rem;
    flex: 4;
  }
  
  ion-button {
    --border-radius: 3px;
    --height:2.5rem;
    --margin-top: 0;
    --margin-start: 0;
    --margin-end: 0;
    --margin-bottom: 0;
    float: right;
    flex:1;
  }
  
  .title_restaurant{
      font-size: 1rem;
      line-height: 3.3rem;
      text-indent: 0.835rem;
      font-weight: bold;
      color: #666;
  }
  .list_container{
      background-color: #fff;
  }
  .search_history{
    .history_list{
      background-color: #fff;
      padding: 0 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .history_text{
        display: inline-block;
        width: 80%;
      }
      
    }
    .clear_history{
      background-color: #fff;
      font-weight: bold;
      text-align: center;
    }
  }
  .search_none{
    margin: 0 auto;
  
    color: #333;
    background-color: #fff;
    text-align: center;
    margin-top: 0.21rem;
  }